<% form_for(@scenario) do |f| %>
  <%= f.error_messages %>
  <% fields_for :feature do |fc| %>
        <%=fc.hidden_field :id%>
    
    <p>
      <%= fc.label :title, "Feature-Title" %><br />
      <%= fc.text_field :title%>
    </p>
  <%end%>
  <p>
    <%= f.label :title, "Scenario-Title" %><br />
    <%= f.text_field :title%>
  </p>
  <p>
    <%= f.label :given_block, "Given-Block" %><br />
    <%= f.text_field :given_block%>
  </p>
  <p>
    <%= f.label :when_block, "When-Block" %><br />
    <%= f.text_field :when_block%>
  </p>
  <p>
    <%= f.label :then_block, "Then-Block" %><br />
    <%= f.text_field :then_block%>
  </p>
 
  <p>
    <%= f.submit "submit" %>
  </p>
<% end %>
<%= link_to 'Back', @feature %>

